<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty x Beast</title>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body id="clientlogin">
    <!--TOP Navigation-

  <!--Modal Login-->

      <div class="row">
        <div class="columns large-6 large-offset-3 text-center" id="admin-login">
        <img src="images/logo.png">
        
        <h4>You cannot cancel this request anymore because it has been accepted.</h4>

        <p><a href="/home">Home</a></p>
  
        <br>

    </div>
  <!--Modal Register-->

  </body>
</html>
