body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

/*Navigation*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    font-family: "Lato", sans-serif;
    top: 80px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
main {
    width: 100%;
    transition: margin-left .5s;
    padding: 0px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
#banner {
    position: absolute;
    float: center;
    height: 80px;
    width: 100%;
    top: 0px;
    z-index: 0;
    background-color: black;
}

.form-signin {
  max-width: 90%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .request-area .circular-img{
  height:100px; 
  width:100px;
  border-radius: 20%;
  padding-right: 10px;
}

.form-signin .request-area{
  margin-bottom: 10px;
}
